.img-box:hover .p {
  top: 0;
}

.p {
  transition: 0.5s all;
}

.banner-astronout {
  position: absolute;
  animation: astronout 2s infinite alternate linear;
  -webkit-animation: astronout 4s infinite alternate linear;
  width: 400px;
}

.banner-astronout1 {
  position: absolute;
  animation: astronout1 2s infinite alternate linear;
  -webkit-animation: astronout1 4s infinite alternate linear;
  width: 400px;
}

@keyframes astronout1 {
  0% {
    left: 70%;
    top: 25%;
  }

  100% {
    left: 60%;
    top: 35%;
  }
}

@keyframes astronout {
  0% {
    left: 50%;
    top: 45%;
  }

  100% {
    left: 40%;
    top: 35%;
  }
}

.navbar-item {
  transition: transform ease 0.4s;
  padding: 0 10px;
}
.navbar-item:hover {
  transform: scale(1.5);
}
